* {
  margin: 0px;
  padding: 0px;
}

html, body {
  background: #fff1ff;
}

.hidden {
  display: none;
}

body {
  padding: 20px;
  min-width: 750px;
}

.container {
  background: #ffb6c1;
  display: grid;
  margin: 0px auto;
  height: 700px;
  width: 800px;
  grid-template-columns: minmax(300px, 20%);
  grid-template-rows: 50px 1fr 1fr 100px;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header"
  "main main sidebar"
  "main main sidebar"
  "footer footer footer";
}


header {
  background: lightblue;
  height: 50px;
  padding: 10px;
  grid-area: header;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}

.box-login {
  width: 100%;
}

.box-login h3 {
  display: inline;
}

#greeting, #logout-btn {
  text-align: right;
}

main {
  background: lightgreen;
  grid-area: main;
}

aside {
  background: lightseagreen;
  grid-area: sidebar;
}

footer {
  background: lightsalmon;
  grid-area: footer;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}