/** 업데이트중
main {
  background-image: url(../../public/images/bg_blue.png);
  background-size: contain;
  background-repeat: no-repeat;
}

aside {
  border: double 5px lightslategray;
  background-image: url(../../public/images/bg_blue_02.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
**/